* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
body{
  margin: 0;
}
.navy-btn {
  background-color: $mainColor;
  border-radius: 5px;
  color: $colorLight;
  border: none;
  outline: none;
  padding: 5px;
  transition: $transtion;
  &:hover{
    background-color: $colorLight;
    color: $mainColor;
    transition: $transtion;
  }
}
.grey-btn{
  background-color:$colorLight;
  border-radius: 5px;
  color: $mainColor;
  border: none;
  outline: none;
  padding: 5px;
  transition: $transtion;
  &:hover{
    background-color: $mainColor;
    color: $colorLight;
    transition: $transtion;
  }
}
.d-flex{
  display: flex;
  align-items: center;
}