.swiper-container {
  overflow: hidden;
  position: relative;
  padding: 40px 0;

  .swiper-wrapper {
    .swiper-slide {
      text-align: right;

      h2 {
        color: #b12b2f;
        margin: 120px auto 20px;
        font-weight: bold;
        font-size: 28px;
      }

      p {
        font-size: 20px;
        line-height: 2;
      }

      a {
        @extend.navy-btn;
        width: 165px;
        padding: 7px;
        margin-bottom: 20px;
      }
    }
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    width: 100%;
    .swiper-pagination-bullet {
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid $colorRed;
      text-align: center;

      .swiper-pagination-bullet {
        cursor: pointer;
      }
    }
  }


  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
  }
}
@media (min-width:768px) {
  .swiper-container{
    .swiper-wrapper{
      .swiper-slide{
        p{
          width: 38%;
        }
      }
    }
  }
}